*{ background-color:#7289da;
    border-radius: 0px;

}
header{
   text-align: center;
   font-size: 100%;
   font-family: 'Zen Dots', cursive;
   color:white; 
}
#invite{
    width: 100%;
    height:89%;
    font-size: 100%;
    font-family: 'Original Surfer', cursive;
}
a{
    color:white;
    text-decoration: none; 
    font-family: 'Zen Dots', cursive;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color:blue;    
}
small{
    font-family: 'Zen Dots', cursive;
    color:white; 
}